{% block title %}My Blog{% endblock %}
{% block content %}

<h1>My Blog</h1>
{% for post in posts %}
	<h2>
		{{ post.title }}
	</h2>
	
	{{ post.body|truncatewords:30|linebreaks }}
	
{% endfor %}
{% endblock %}